<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Collection tracker</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <p><a href="/items">Check your collection</a></p>
    </body>
</html>
