<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Collection tracker</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="web/../css/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Welcome!</h1>
            <h4>Store your collection here!</h4>
            <p><a href="#" class="btn" id="shiabtn">Do it!</a></p>
            <p><a href="/items" class="btn hideme" id="doit">Seriously Do it!</a></p>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="web/../js/scripts.js"></script>
    </body>
</html>
