<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Collection Tracker</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="web/../css/styles.css">
    </head>
    <body>
        <div class="container">
            {% if items is not empty %}
                <h1>Here's your collection:</h1>
                <ul>
                    {% for item in items %}
                        <li><h5>{{ item.getName }}</h5></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h3>Add a new item!</h3>
            <div class="row">
                <form action="/items" method="post">
                    <label for="name">Item Name:</label>
                    <input name="name" id="name">
                    <button type="submit" class="btn">Add Item</button>
                </form>
                <form action='/delete_items' method='post'>
                    <button type='submit' class="btn">Clear</button>
                </form>
            </div>

            <p><a href="/">home</a></p>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    </body>
</html>
